*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to bottom, white, rgb(107, 188, 250));
    line-height: 1.5em;
}
.grid{
    width: 960px;
    margin: 0 auto;
    display: grid;
    grid-auto-columns: 70% 30%;
    grid-template-rows: 100px calc(100% - 100px);
    grid-template-areas: "header header"
                         "main aside";
    min-height:100vh ;

}
.nav ul{
    display: flex;
    list-style-type: none;
}
a{
    display: block;
    padding: 8px;
    color: blue;
}
a.active{
    color: purple;
}
a:hover{
    color:darkblue
}
header{
    display: flex;
    grid-area: header;
    justify-content: space-between;
    padding-top: 15px;

}
.p-titel{
    margin-top: 10px;
    color: rgb(65, 63, 63);
}
aside{
    grid-area: aside;
    
}
main{
    grid-area: main;
}
.news{
    background-color: #fafafa;
    margin-left: 15px;
    padding: 10px;
    border-bottom: 2px dashed gray;
    box-shadow: 2px 2px 5px gray;
}
.news h3{
    margin-bottom: 15px;
}
.about{
    background-color: #fafafa;
    margin-left: 15px;
    padding: 10px;
    box-shadow: 2px 2px 5px gray;
}
.about h3{
    margin-bottom: 15px;
}
.tool{
    background-color: #fafafa;
    margin-bottom: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns: minmax(0px, auto) 1fr;
    grid-template-rows: 1fr minmax(0px, auto) 1fr; 
    grid-template-areas:"title ."
                        "para img"
                        /* "para para" */
                        "link ." ;
     box-shadow: 2px 2px 5px gray;
     border:1px solid #c1c1c1;

}

.muse{
    background-color: #fafafa;
    margin-bottom: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns:  minmax(0px, auto) 1fr;
    grid-template-rows: 1fr minmax(0px, auto) 1fr;
    grid-template-areas:"title title"
                        "para img"
                        /* "para para" */
                        "link link" ;
     box-shadow: 2px 2px 5px gray;
     border:1px solid #c1c1c1;
}
.antimatter{
    background-color: #fafafa;
    margin-bottom: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns:  minmax(0px, auto) 1fr;
    grid-template-rows: 1fr minmax(0px, auto) 1fr;
    grid-template-areas:"title title"
                        "para img"
                        /* "para para" */
                        "link link" ;
    box-shadow: 2px 2px 5px gray;
    border:1px solid #c1c1c1;
}

main .tool h3, main .muse h3, main .antimatter h3{
    grid-area: title;
}
main .tool p, main .muse p, main .antimatter p{
    grid-area: para;
}
main .tool img, main .muse img, main .antimatter img{
    grid-area: img;
}
main .tool a, main .muse a, main .antimatter a{
    grid-area: link;
}
